@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap'); 

:root{
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayBlue: hsl(217, 19%, 24%);
    --DarkGrayBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
    --Manrope: 800 28px 'Manrope', sans-serif;
}

