@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --orange: hsl(33, 100%, 98%); 
    --graph-width: 3rem;
    --width: 25vw;
    --padding: 3%;
    --size: 18px;
    font: var(--size);
    font-family: 'DM Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*HEADER*/
header {
    margin: 1%;
    padding: 1.75% var(--padding);

    height: 8vh;
    width: var(--width);

    border-radius: 15px;
    background-color: var(--soft-red);
    color: white;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.text{
    height: inherit;
    width: max-content;
}

.text > p{
   margin: 0;
   padding: 0 0 1.45vh 0;
   height: 2.5vh;
}

.text > h2 {
    margin: 0;
    height: 1.75rem;
    font-size: 1.75rem;
    font-weight: bold;
}

header > figure{
    margin: 0;
}


/*MAIN*/
main {
    background-color: white;
    width: var(--width);
    height: 50vh;
    margin: 1%;
    padding: var(--padding);
    border-radius: 15px;
    display: grid;
    grid-template-areas: 
    "chart chart"
    "hr hr"
    "info1 info2";
    grid-template-rows: 1fr auto 1fr; 
    grid-template-columns: 1fr 1fr;
}

hr {
    margin: 1vh 0;
    grid-area: hr;
    height: 0;
    width: var(--width);
    border: 0.5px solid var(--cream);
    background: var(--cream);
    color: var(--cream);
}

/*PART1: CHART*/
.daily{
    width: inherit;
    grid-area: chart; 
    display: grid;
    grid-template-rows: 1fr 4fr 1fr; 
    grid-template-areas: 
    "header"
    "graph"
    "label";   
}

.daily > h1{
    margin: 0;
    grid-area: header;
}

.daily > figure{
    grid-area: graph;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0;
}


.daily > section{
    text-align: center;
    grid-area: label;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#week > div {
    width: var(--graph-width);
} 

/* PART2: THIS MONTH */
.thisMonth{
    grid-area: info1;
    align-self: start;
    justify-self: start;
}

.thisMonth > h1{
    margin: 0;
    font-size: 2.6rem;
}

.thisMonth > p{
    color: rgba(0, 0, 0, 0.45);
    margin: 2vh 0 0 0 ;
}

/* PART2: THIS MONTH */
.lastMonth{
    grid-area: info2;
    align-self: end;
    justify-self: end;
    text-align: end;
}

.lastMonth > h3, p{
    margin: 0;
}

.lastMonth > p{
    color: rgba(0, 0, 0, 0.45);
}

